{% extends "layout.html" %}

{% block title %}
    MasterMind
{% endblock %}

{% block style %}
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    #balance {
      font-weight: bold;
    }
{% endblock %}

{% block main %}
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('restart') }}">Restart</a></li>
    </ul>

    <div class="impact">Welcome to MasterMind Game!</div>

    <form action="/" method="post">
      <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" name="guess" placeholder="4 digit Number" type="text">
          <button class="btn btn-primary" type="submit">Check</button>
      </div>
    </form>

    <!---
    <div action-"/">
        <table>
            <tr>
                <th>Your Score</th>
                <th>Attempt</th>
                <th>Your Guess</th>
                <th>Correct number</th>
                <th>Correct number in correct position</th>
            </tr>
            {% for item in holdings %}
                <tr>
                    <td>{{ item['score'] }}</td>
                    <td>{{ item['attempt'] }}</td>
                    <td>{{ item['guess'] }}</td>
                    <td>{{ item['almost'] }}</td>
                    <td>{{ item['bingo'] }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    --->
{% endblock %}
