{% extends "layout.html" %}

{% block title %}
    MasterMind
{% endblock %}

{% block style %}
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 5px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    #balance {
      font-weight: bold;
    }

    table, th, td {
      border: 1px solid black;
    }

    div.form-group{
      width:40%;
      display: block;
    }
    form{
      display: inline-block;
      margin: auto;
      text-align: left;
    }

    div.impact {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 30px;
      text-align: center;
      color: red;
    }
    div.description {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 18px;
      text-align: center;
      color: red;
    }

    div.input-group{
      width: 40%;
    }

    .btn btn-primary{
      margin: 100px;
    }


{% endblock %}

{% block main %}


    <div class="impact">Welcome to MasterMind Game!</div>
    <div class="description">Please guess a 4 number combinations from 0~7 in 10 attempts. Good luck!</div>

    <form action="/" method="post">
      <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" name="guess" placeholder="4 digit Number" type="text">
          <button class="btn btn-primary" type="submit">Check</button>
      </div>
    </form>


    <div action-"/">
        <table>
          <tr>
              <th>Your Score</th>
              <th>Attempt</th>
              <th>Your Guess</th>
              <th>Correct number</th>
              <th>Correct number in correct position</th>
          </tr>
          {% for item in holdings %}
              <tr>
                  <td>{{ item['score'] }}</td>
                  <td>{{ item['attempt'] }}</td>
                  <td>{{ item['guess'] }}</td>
                  <td>{{ item['almost'] }}</td>
                  <td>{{ item['bingo'] }}</td>
              </tr>
          {% endfor %}
        </table>

    </div>

{% endblock %}
