<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
        <title>MasterMind game</title>
    </head>
    <style>
    div.form-group{
      width:40%;
    }
    div.impact {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 40px;
      text-align: center;
      color: red;
    }

    div.input-group{
      width:40%;
    }
    </style>
    <body>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('restart') }}">Restart</a></li>
            <!---<li><a href="index.html">Home</a></li>--->
            <!---<li><a href="test.html">Test</a></li>--->

        </ul>

        <div class="impact">Welcome to MasterMind Game!</div>

        <form action="/" method="post">

         <!---
          <div class="input-group">
                <input type="text" class="form-control" name="test">
                <button class="btn btn-outline-secondary" type="button">Go</button>
          </div>

          <div class="input-group">
             <input type="text" class="form-control">
             <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
             </span>
          </div>
          --->

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="guess" placeholder="4 digit Number" type="text">
                <button class="btn btn-primary" type="submit">Check</button>


            </div>
        </form>
    </body>
</html>
{% extends "layout.html" %}
{% block body %}
{% endblock %}
